body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  background-color: rgb(155, 155, 155);
  color: antiquewhite;
  text-align: center;
}

h1, h2 {
  font-weight: 300;
}
